<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--
    Put your tenant id here
    e.g.
    <add key="Tenant" value="contoso.onmicrosoft.com" />-->
    <add key="Tenant" value="[TENANT-ID]" />

    <!--
    Put your App Id here (found in Azure AAD portal, select your app registration and copy "Application Id (Client Id)")
    e.g.
    <add key="AppId" value="6c16407b-19de-xxxx-xxxx-69c5a2470900" />-->
    <add key="AppId" value="[Application Id]" />
    <!--
    Put your App Secret (found in Azure AAD portal, select your app registration and from "Certificates and Secrets" section
    Create a new secret and copy its value here
    e.g.
    <add key="AppSecret" value="OyA7ShUM.3QxVxxxxxxd8N7piH0lv8X" />-->
    <add key="AppSecret" value="[App Secret]" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>