@import '~office-ui-fabric-react/dist/sass/References.scss';

.wizardHost {

  .row {
    @include ms-Grid-row;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;

  }

  .subTitle {
    @include ms-font-l;
  }

  .description {
    @include ms-font-l;
  }

  .statusMessage {
    padding: 15px;
    color: $ms-color-white;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 1px;
  }

  .OK {
    background-color: $ms-color-green;

  }

  .KO {
    background-color: $ms-color-red;
  }

  .wizardStep {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    min-height: 300px;
    border: 1px solid darkgray;
    border-radius: 2px;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
