.kanbanBoard {
  .container {
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #FEFEFF;
    padding: 3px;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .row {
    display: flex;
  }

.kanbanColumn {
  vertical-align: top;
  min-height: 500px;

  h3 {
    text-align: center;
  }
}

.kanbanColumn:not(:last-child) {
  border-right: 2px dashed #eaeaea;
}

.task {
  position: relative;
  padding: 8px;
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
  background-color: #FEFFFF;
  border: 1px solid #eaeaea;
  min-height: 80px;

  div {
    cursor: default;
  }

  span {
    cursor: default;
  }

  .taskName {
  font-weight: bold;
  font-size: 18px;
  display: block;
  }
}

 .task.dragging {
      background-color: #FBFBFB;
      border: 1px solid black;
      z-index: 50;
  }

.task:hover {
  border-width: 3px;
  border: 1px solid blue;
}

}