
$themePrimary: '[theme:themeDarker, default:#0078d7]';
$themeWhite: '[theme:white, default:white]';

.contentEditor {
  .container {
    max-width: 700px;
    margin: 0px auto;
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .caption {
    background-color: $themePrimary;
    color: $themeWhite;
    text-align: right;
    font-size: 12px;
  }

  .content {
    font-size: 14px;
    padding: 7px;
  }
}